
<html>
<head>
  <title>Ahia Global</title>
</head>
<body>

<div class="jumbotron", align= "center">
  <div class="container">

      <h1 class="center">Welcome to Ahịa </h1>
    </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div class="caption">
    <h4 class="center"><%= link_to 'Enter The Market', Listing %></h4>
    </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
       <h3> <%=  link_to 'Find A Local Business', Business  %></h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= link_to "About Us", pages_about_path %></h3>
      </div>
    </div>
  </div>
</div>

</body>
</html>